@font-face {
  font-family: "Montserrat-Medium";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Medium.woff2");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Thin.woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Bold.woff2");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Light.woff2");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./Assets/Fonts/Montserrat/Montserrat-SemiBold.woff2");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./Assets/Fonts/Montserrat/Montserrat-ExtraBold.woff2");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Black.woff2");
}

@font-face {
  font-family: "NotoSansCJKkr-Light";
  src: url("./Assets/Fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff2");
}
